@value font from "../../index.module.css";

.headerOperatorWrapper {
    box-sizing: border-box;
    margin-right: 5px;
    height: 25px;
    width: 25px;
    position: relative;
}

.headerOperationIcon {
    box-sizing: border-box;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.container {
    composes: font;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 25px;
    position: absolute;
    z-index: 100000;
    top: 25px;
    right: 0px;
    background-color: #FFFFFF;
}

.searchBox {
    width: 140px;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgba(111, 111, 111, 1);
}

.input {
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 0 5px;
    flex-grow: 1;
    width: 90%;
}

.searchIcon {
    width: 15px;
    height: 15px;
    margin-left: 0;
    cursor: pointer;
}