@value font from "../../index.module.css";

.inputBlock {
    width: 100%;
    height: fit-content;
    composes: font;
}

.label {
    font-size: 15px;
    box-sizing: border-box;
    margin: 0;
}

.input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0 5px;
}

.inputWrapper {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.button {
    height: 40px;
    background-color: rgba(130, 130, 130, 0.62);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}