@value font from "../../index.module.css";

.page {
    height: 97%;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.control {
    min-height: 100%;
    width: 68px;
    background-color: #FFE6A6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.control.small {
    width: 40px;
}

.controlIcon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 15px;
}

.controlIcon.small {
    width: 30px;
    height: 30px;
}

.wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 68px;
    display: flex;
}

.wrapper.small {
    left: 40px;
}

.leftBar {
    width: 230px;
    height: 100%;
    background-color: #FFFFFF;
    padding: 130px 10px 0px 10px;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 40;
}

.leftBar.small {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 40;
}

.leftBar.show {
    display: block;
}

.navItem {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.navItem.selected {
    background-color: #F1F1F1;
}

.navItemIcon {
    width: 13px;
    height: 13px;
    margin-right: 10px;
}

.navItemLabel {
    composes: font;
}


.main {
    flex-grow: 1;
    height: 100%;
    background-color: #F1F1F1;
}

.main:not(.mobile) {
    min-width: 500px;
}

.main.mobile {
    max-width: 400px;
}

.container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 70px 40px 80px 40px;
}

.container.mobile {
    padding: 30px 10px 30px 20px;
}

.caption {
    margin-bottom: 40px;
}

.block {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 27px 19px;
}