@value font from '../../index.module.css';

.eventPopUp {
    composes: font;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    border: 2px solid rgba(248, 182, 13, 1);
    width: 50%;
    height: fit-content;
    min-height: 200px;
    z-index: 1000;
    background-color: #FFFFFF;
}

.eventPopUp.isFy {
    border: 2px solid #0B4FF8;
}

.eventPopUp.mobile {
    width: 85%;
}

.row {
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #F5F6F7;
    padding-left: 25px;
    box-sizing: border-box;
}

.icon {
    margin-right: 15px;
}

.rowText {
    outline: none;
    border: none;
    composes: font;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    box-sizing: border-box;
}

.rowBlock {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 22.5px;
    box-sizing: border-box;
}

.separate {
    border-right: 2px solid #F5F6F7;
}

.twoColumnRow {
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid #F5F6F7;
    padding-left: 25px;
    box-sizing: border-box;
    padding-left: 0px
}

.checkbox {
    margin-left: auto;
    margin-right: 20px;
}

.feedback {
    margin-left: auto;
    margin-right: 20px;
    outline: none;
    border: 1px solid rgba(111, 111, 111, 1);
    height: 20px;
    border-radius: 5px;
    padding: 0 5px;
    box-sizing: border-box;
}

.buttonWrapper {
    width: 100%;
    height: 70px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px; 
    box-sizing: border-box;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    composes: font;
    font-size: 15px;
    font-weight: 700;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    background: rgba(255, 230, 166, 1);
}

.button:first-child {
    margin-left: auto;
}

.blocker {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 800;
}