@value font from '../../index.module.css';

.container {
    composes: font;
    box-sizing: border-box;
    position: absolute;
    height: 50px;
    border-radius: 5px;
    background-color: #FFFFFF;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.container.vuceptor {
    border: 1px solid rgba(248, 182, 13, 1);
}

.container.firstYear {
    border: 1px solid #0d4ff8;
}

.container.dragging {
    opacity: 0.7;
    z-index: 1000;
}

.times {
    width: 100%;
    height: 30px;
    padding: 20px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.time {
    width: 50px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: rgba(255, 230, 166, 1);
    font-weight: 700;
}

.time.vuceptor {
    background: rgba(255, 230, 166, 1);
}

.time.firstYear {
    background: #a6bfff;
}

.description {
    width: 100%;
    height: 0;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    outline: none;
    resize: none;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 5px;
}