@value font from '../../index.module.css';

.boardControl {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 27px;
}

.table {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.tableButton {
    height: 25px;
    margin-left: auto;
}

.selectLabel {
    composes: font;
    margin-right: 15px;
}

.select {
    width: 300px;
}
