.boardControl {
    display: flex;
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 27px;
}

.table {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.tableButton {
    height: 25px;
    margin-right: 28px;
}

.tableButton:first-child {
    margin-left: auto;
}

.tableButton:last-child {
    margin-right: 0;
}
