@value font from '../../index.module.css';

.boardControl {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 27px;
}

.table {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.tableButton {
    height: 25px;
    margin-left: auto;
}

.selectContainer {
    display: flex;
    margin-right: 20px;
}

.selectContainer.small {
    margin-bottom: 10px;
}

.selectLabel {
    composes: font;
    margin-right: 15px;
}

.selectLabel.small {
    display: inline-block;
    width: 100px;
}

.controlInput {
    width: 40px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 0 5px;
    appearance: none;
    outline: none;
}

.calendarLabel {
    composes: font;
    margin-right: 7px;
}

.calendarLabel.small {
    display: inline-block;
    width: 100px;
}