@value font from '../../index.module.css';

.boardControl {
    display: flex;
    height: fit-content;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 27px;
    column-gap: 28px;
}

.table {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.tableButton {
    height: 25px;
}

.tableButton:first-child {
    margin-left: auto;
}