@value font from '../../index.module.css';

.container {
    border: 1px solid black;
    width: 100%;
    min-height: 100%;
}

.controlContainer {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
    composes: font;
    font-weight: 700;
    font-size: 12px;
    position: relative;
    padding: 10px 0;
    box-sizing: border-box;
    margin-top: -15px;
}

.arrowIcon {
    height: 30px;
    width: 44px;
    cursor: pointer;
}

.import{
    margin-left: auto;
}

.reset {
    margin-right: 10px;
}

.vision.vuceptor {
    margin-left: auto;
    margin-right: 10px;
}

.calendar {
    width: 100%;
    flex-grow: 1;
    height: 0;
    display: grid;
    grid-template-columns: 40px repeat(7, 1fr);
    grid-template-rows: repeat(25, 60px);
    overflow: auto;
    position: relative;
    composes: font;
    font-size: 12px;
}

.block {
    box-sizing: border-box;
}

.topLeft {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F5F6F7;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 11;
    background-color: #FFFFFF;
    min-width: 40px;
    width: 40px;
}

.row {
    border-bottom: 2px solid #F5F6F7;
}

.halfRow {
    width: 100%;
    height: 50%;
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #F5F6F7;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #FFFFFF;
}

.col {
    border-right: 2px solid #F5F6F7;
    min-width: 80px;
}

.colFirst {
    min-width: 40px;
    border-left: 2px solid #F5F6F7;
    position: sticky;
    left: 0;
    z-index: 9;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeIcon {
    height: 20px;
    width: 20px;
}

.hour {
    color: #ADB8CC;
    font-weight: 700;
}