@value font from "../../index.module.css";

.container {
    box-sizing: border-box;
    width: 100%;
    height: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    composes: font;
    font-size: 12px;
    overflow: hidden;
}

.tableContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    box-sizing: border-box;
}

.table {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    overflow: auto;
}

.table thead th {
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
    height: 40px;
    width: 100%;
    border-top: 1px solid #6F6F6F;
    border-bottom: 1px solid #6F6F6F;
}

.table thead,
.table tbody,
.table tr {
    display: contents;
}

.table th,
.table td {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.table th {
    z-index: 5;
}

.table tbody tr:nth-child(odd)>td {
    background-color: #F1F1F1;
}

.table tbody td {
    text-overflow: ellipsis;
    overflow: hidden;
}

.header {
    position: relative;
    height: 100%;
    width: 100%;
}

.headerOperators {
    float: right;
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
}

.rowOperators {
    display: none;
    height: 100%;
    width: fit-content;
    position: absolute;
    top: 0;
    right: 0;
}

.rowOperators.show {
    display: flex;
    align-items: center;
}

.rowIcon {
    height: 20px;
    margin: 10px 0px;
    margin-right: 5px;
    cursor: pointer;
}

.headerLabel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.resizeHandler {
    display: block;
    position: absolute;
    cursor: col-resize;
    width: 0;
    height: 1000px;
    right: 0;
    top: 0;
    z-index: 10;
    border: 1px solid rgba(196, 196, 196, 0.2);
}


.pages {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: auto;
    column-gap: 20px;
}

.arrowIcon {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.leftDoubleArrow {
    margin-left: auto;
}

.page {
    cursor: pointer;
}

.page.selectedPage {
    color: #715D35;
    font-size: 20px;
}